[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "2.12.1"
pytube = "10.7.1"
loguru = "0.5.3"

[requires]
python_version = "3.9"

[dev-packages]
black = "*"
